

<button id="#btnQuestionModal" type="button" class="btn btn-primary" data-toggle="modal" data-target="#questionModal">
  Lascia una recensione
</button>

<div class="modal fade" id="questionModal" tabindex="-1" role="dialog" aria-labelledby="questionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <button type="button" class="close modal-close-btn" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      <div class="modal-body question-modal-body">
        <%= simple_form_for [race, question] do |f|%>
        <%= f.input :title %>
        <%= f.input :text %>
        <%= f.button :submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
