.race-type-box {
  padding: 1px;
  font-size: 14px;
  cursor: pointer;
  width: 20%;
  border: 1px solid #ced4da;
  text-align: center;
}

.race-type-box-selected {
  background-color: #bdbbbb;
}
.no-overflow{
  overflow: hidden;
}
.selected-tab {
  background-color: #4fb4ff;
  border-bottom: none !important
}

.hidden-tab {
    display: none
}

.form-race-box{
  min-height: 450px;
  padding-bottom: 30px
}

.right-step-btn{
  position: absolute;
bottom: 10px;
right: 10px

}

.left-step-btn{
  position: absolute;
bottom: 10px;
left: 10px
}


#race_description{
  min-height: 350px;
  max-height: 350px;
  overflow-y: scroll;
}


#form-tab-new-race {
  border: 1px solid #ced4da
}


.tab-race-form{

    font-size: 13px;
    padding: 10px;
}
