l<div class="container-fluid mt-4">
    <%= render "index_form" %>
</div>

<div class="container-fluid mt-4">
  <div id ="" class="row">

    <div class="col-md-8">
      <div class="row" id ="races-container">
        <% @races.each do |race| %>
          <%= render "race", race: race %>
        <% end %>
      </div>
    </div>
    <div class="col-md-4 p-0 ">
      <div id="index-map" class="index-map" data-markers="<%= @markers.to_json %>"></div>

    </div>
  </div>

</div>





<script type="text/javascript">
  document.querySelector("#reset-date").addEventListener("click", function(){
    document.querySelector("#date-range").value = ""
    let form = document.getElementById('race_filter');
    Rails.fire(form, 'submit');
  })

  document.querySelector("#reset-location").addEventListener("click", function(){
      document.querySelector("#race_location_filter").value = ""
      let form = document.getElementById('race_filter');
      Rails.fire(form, 'submit');
    })

</script>
