$blu: #4cb5f5;
$blu-hover: #1da8fd;
$green: #b3c100;
$black: #2b2b2b;
$dark: #34675c;
$grey: #b7b8b6;
@import "bootstrap";
@import "loading_page";
@import "photoswipecss";
@import "races/pages_index";
@import "components/index";
@import "reviews/index";
@import "user/index";



body{
  font-family: 'Montserrat', sans-serif;
  color: #404040 !important;
}
a{
  color: #404040 !important;
  font-weight: 300 !important
}

.dark-text{
  color: #3c3c3c !important
}

a.btn {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

p{
  font-size: 16px;
}


.text-light{
  font-weight: 400 !important;
}
.text-bold{
  font-weight: 500 !important;
}


input{
  border-radius: 8px !important;
  font-weight: 300 !important
}
textarea{
  border-radius: 0px !important;
  font-weight: 300 !important
}

label{
    font-weight: 300px
}
